@import "src/styles/base";

.cp-sidebar {
    position: fixed;
    height: 100%;
    width: 350px;
    padding: 10px 0;
    background: $bg-color-lighter;
    overflow-y: scroll;
}
.cp-crypto-item {
    cursor: pointer;
    display: flex;
    padding: 15px 10px;
    margin: 0 20px;
    transition: 0.15s ease-in-out;

    &:hover,
    &.active {
        background: rgb(83 95 132 / 20%);
    }

    &:not(:last-child) {
        border-bottom: 1px solid #535f84;
    }
    .cp-crypto-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
    .cp-crypto-image {
        width: 50px;
        height: 50px;
        margin-right: 20px;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    .cp-crypto-name {
        font-weight: 600;
        color: #dfe2eb;
    }
    .cp-crypto-price-wrapper {
        text-align: right;
    }
    .cp-crypto-price {
        font-weight: 600;
        color: #dfe2eb;
    }
    .cp-crypto-change {
        font-size: 14px;

        &.negative {
            color: #c571a6;
        }

        &.positive {
            color: #52e58e;
        }
    }
}